<!DOCTYPE html>
<html>
  <head>
    <title>Events Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Events Page</h1>
    <p>Welcome to The Comedy Bureau App</p>
    <% if (!user) { %>
      <a href="/auth/google">Login with Google</a><br>
    <% } else { %>
      <a href="/profile">Go to the User Page</a><br>
      <a href="/logout">Logout</a><br>
    <% } %>
   
  
  <!-- UI Goes here! WORKING UI!!! -->
  <% events.forEach(function(event) { %>
    <div>
      <span class="card-title"> <!--these are Materialize CSS classes...-->
        <span class="student-name"><a href="<%= event.url %>"><%= event.name %></a></span>
        <form action="/<%= event.id %>" method='POST'> 
          <input type="hidden" name="name" value="<%= event.name %>">
          <input type="hidden" name="url" value="<%= event.url %>">
          <button type='submit'>
            Bookmark
          </button>
        </form>
        <!-- a button goes here with a form method that bookmarks the events to the user page -->
      </span>
    </div>
  <% }) %>


  </body>
</html>
